@import 'reset';
@import 'nav';

body {
  background-color: red;
}

.content {
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
}

.day {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 300px;
  background-color: #fafafa;
}
