@import 'reset';
@import 'todos';
@import 'nav';

body {
  font-family: 'Avenir', sans-serif;
  overflow-y: hidden;
}

.content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0px;
  bottom: 0;
}

.day {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 300px;
  background-color: #fafafa;

  h1 {
    display: flex;
    padding: 16px 0;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #4D6280;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .hours {
    height: 100%;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
  }

  .hour {
    height: 80px;
    opacity: 1.00;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    box-sizing: border-box;

    .title {
      display: flex;
      align-items: center;
      width: 36px;
      height: 100%;
      padding-left: 8px;
      vertical-align: middle;
      color: #8291A6;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      line-height: 1.5;
    }

    .hour-line {
      border: 1px dashed #e5e5e5;
      left: 45px;
      right: 0;
      top: 50%;
      position: absolute;
    }
  }

  .events {
    position: absolute;
    top: 0;
    right: 0;
    left: 45px;
    bottom: 0;

    .events__container {
      position: relative;
      width: 100%;
      height: 1920px;

      .event {
        padding: 12px 8px;
        position: absolute;
        left: 0;
        right: 0;

        background-color: #6AA8FF;
        color: #fff;
      }
    }
  }
}
